body, h1, ul, li, button, input {
  margin: 0;
  padding: 50px;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.todo-container {
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 1000px;
  height: 100%;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.input-section {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

#todo-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.todo-lists {
  display: flex;
  gap: 20px;
}

.list-section {
  width: 50%;
}

.list-section h2{
  display: flex;
  justify-content: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

.todo-item {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}


.complete-button, .delete-button {
  background-color: gray;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}
